.register {
  background-color: #fff;
  max-width: max-content;
  margin: 0 auto;
  padding: 40px;
  border: 1px solid #000;
}
.title {
  text-align: center;
  font-weight: bold;
  font-size: 30px;
}
